.featured {
  height: 56.25vw;
  min-width: 500px;
  position: relative;

  .category {
    position: absolute;
    top: 80px;
    left: 50px;
    font-size: 30px;
    font-weight: 500;
    color: white;
    z-index: 199;
    display: flex;
    align-items: center;

    select {
      cursor: pointer;
      background-color: #0b0b0b;
      border: 1px solid white;
      color: white;
      margin-left: 20px;
      padding: 5px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .info {
    position: absolute;
    bottom: 15%;
    left: 4%;
    width: 36%;
    color: white;
    display: flex;
    flex-direction: column;
    img{
      height: initial !important;
    }
    .desc {
      margin: 20px 0px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;

        &.play {
          background-color: white;
          color: #0b0b0b;
        }

        &.more {
          background-color: rgb(109, 109, 110);
          color: white;
          &:hover{
            background-color: rgba(109, 109, 110, 0.6);
          }
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }
}
  
@media (max-width: 768px){
  .featured{
    .category{
      top: 65px;
    }
    .info{
      .desc{
        font-size: 1.6vw;
        width: 100%;
      }
    }
  }

}

@media (max-width:540px){
  .featured{
    .category{
      top: 58px;
      left: 20px;
      font-size: 20px;
      select{
        font-size: 10px;
      }
    }
    .info{
      .desc{
        margin: 10px 0px;
        font-size: 8px;
      }
    }
  }
}