@import '../../../../assets/styles/normalize.css';
.navbar {
    width: 100%;
    color: white;
    font-size: 14px;
    position: fixed;
    top: 0;
    z-index: 999;
    background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.3) 50%);
    font-family: 'Montserrat', sans-serif;

    &.scrolled{
      background-color: #0b0b0b;
    }

    .container {
      padding: 0px 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: 70px;

      .left {
        display: flex;
        align-items: center;

        img {
          height: 25px;
          margin-right: 57px;
        }
        .menu{
          .menuTrigger{
            display: none;
          }
        }
        span {
          margin-right: 15px;
          font-size: 16px;
          cursor: pointer;
          font-weight: 500;
          color: #ffffff;
          &:hover{
            color: #e5e5e5;
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        .icon {
          margin: 0px 15px;
          cursor: pointer;
        }

        img {
          width: 30px;
          height: 30px;
          border-radius: 5px;
          object-fit: cover;
          cursor: pointer;
        }

        .profile {
          .options {
            display: none;
            background-color: #0b0b0b;
            border-radius: 5px;
          }

          a {
            color: #FFFF;
            padding: 10px;
            cursor: pointer;
          }

          &:hover {
            .options {
              display: flex;
              flex-direction: column;
              position: absolute;
            }
          }
        }
      }
    }
  }

  @media (max-width: 850px){
    .navbar{
      .container{
        .left{
          .menu{
            .menuTrigger{
              display: flex;
              align-items: center;
              span{
                margin:0;
              }
            }
            .menuLinks{
              display: none;
            }
            &:hover{
              .menuLinks{
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: black;
                padding: 10px;
                border-radius: 7px;
                span{
                  padding: 2px 0px;
                }
              }
            }
          }
        }
      }
    }
  }
  @media (max-width: 530px){
    .navbar{
      .container{
        padding: 0px 5%;
      }
    }
  }