.container{
    display: flex;
  border-bottom: 8px solid #222;
}
.frame{
    margin-bottom: 40px;
}
.inner{
    display: flex;
  padding: 70px 45px;
  flex-direction: column;
  max-width: 815px;
  margin: auto;
}
.title{
    font-size: 50px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 8px;
  color: white;
  text-align: center;
  @media (max-width: 600px) {
    font-size: 35px;
  }
}
.item{
    color: white;
  margin: auto;
  margin-bottom: 10px;
  max-width: 728px;
  width: 100%;
  &:first-of-type {
    margin-top: 3em;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.header{
    display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1px;
  font-size: 26px;
  font-weight: normal;
  background: #303030;
  padding: 0.8em 1.2em 0.8em 1.2em;
  user-select: none;
  align-items: center;
  
  @media (max-width: 600px) {
    font-size: 16px;
  }
}
.ico {
    filter: brightness(0) invert(1);
    width: 24px;
    font-size: 24px;
    user-select: none;
    @media (max-width: 600px) {
      width: 16px;
    }
  }
.body{
    font-size: 26px;
  font-weight: normal;
  line-height: normal;
  background: #303030;
  white-space: pre-wrap;
  user-select: none;
  overflow: hidden;
  
  span {
    display: block;
    padding: 0.8em 2.2em 0.8em 1.2em;
  }
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 22px;
  }
}
.closed {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  .open {
    max-height: 1200px;
    transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  }
  .optForm{
    display: flex;
    justify-content: center;
    height: 100%;
    margin-top: 20px;
    flex-wrap: wrap;
    @media (max-width: 1000px) {
      flex-direction: column;
      align-items: center;
    }
    .input{
        max-width: 450px;
        width: 100%;
        border: 0;
        padding: 10px;
        height: 70px;
        font-size: 14px;
        border-radius: 5px;
        box-sizing: border-box;
    }
    .button{
        display: flex;
        align-items: center;
        height: 70px;
        background: #e50914;
        color: white;
        text-transform: uppercase;
        padding: 0 32px;
        font-size: 26px;
        border: 0;
        margin-bottom: 15px;
        cursor: pointer;
        &:hover {
            background: #f40612;
        }
        @media (max-width: 1000px) {
            height: 50px;
            font-size: 16px;
            margin-top: 20px;
            font-weight: bold;
        }
    }
    .text{
        font-size: 19.2px;
        color: white;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 16px;
            line-height: 22px;
        }
    }
  }